body{
    background-color: azure;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: black;
    text-indent: 30px;
}
h2{
    text-align: center;
    color: blue;
    text-transform: initial;
}
h3{
    text-align: center;
    color: gold;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color: black;
    letter-spacing: normal;
}